body {
	font-family: Lato;
	margin: 0px;
	background: #f1f2f6;
}

container {
	display: block;
	max-width: 800px;
	margin: 0px auto;
	padding: 30px 0;
}

.menu {
	display:none;
}

a {
	color: #f1f2f6;
	font-family: helvetica;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: #f1f2f6;
	text-decoration: underline;
}

a:active {
	color: #f1f2f6;
}

a:visited {
	color: #f1f2f6;
}




header{
	grid-area: header;
	padding: 10px 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

header h1 {
	margin: 0px;
	color: #2f3542;
	min-width: 160px;
}

header div {
	display: none;
}

h2, h3, h4 {
	color: #2f3542;
}

h4 {
	margin-top: 0px;
}
h3 {
	margin-bottom: 8px;
}

content {
	margin: 30px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-size: 16px;
    line-height: 24px;
}

.panel {
	padding: 16px 16px 4px 16px;
	margin: 0 8px 16px 8px;
}

.panel img {
	padding-top: 16px;
	width: 100%;
	height: auto;
	opacity: .7;
}

.panel img:hover {
	opacity: 1;
}

.panel h3 {
	margin: 0px;
}

.panel .panel-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;
}

@media only screen and (min-width: 600px) {
	html {
		height: 100%;
	}
	body {
		height: 100%;
	}

	header {
		padding: 0px 20px;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	header div {
		display: inline;
	}

	.panels {
		color: #2f3542;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		grid-template-areas:	"algobender whitevoid"
								"spotme wordpress"
								"wordbubble beatwealth";
	}

	.menu {
		display:block;
	}

	.menubtn {
		display:none;
	}
}
