---
---

@import "{{ site.theme }}";

/* Blog Images */

img.large-blog-img {
	width:100%;
	padding: 0px 0px;
	margin-bottom: 30px;
	height:auto;
	box-sizing: border-box;
}

img.medium-blog-img {
	max-width:450px;
	padding: 0px 0px;
	margin-top: 12px;
	margin-bottom: 12px;
	height:auto;
	box-sizing: border-box;
}

p:has(> img.medium-blog-img) {
	text-align: center;
}

img.medium-blog-img-right {
	float:right;
	max-width:300px;
	padding: 0px 0px;
	margin-left: 12px;
	margin-top: 12px;
	margin-bottom: 12px;
	height:auto;
	box-sizing: border-box;
}