@import 'main';

.panel {
	margin: 20px 10px 0px 10px;


	@media screen and (max-width: $break-mobile) {
		width:300px;
		height: 170px;
	}

	@media screen and (min-width: $break-desktop) {
		margin: 0px 37.5px;
		height: 170px;
	}
	
	.panel-header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	img {
		width: 100%;
		height: auto;
		opacity: .7;
		transition: opacity .3s ease-out;

		&:hover {
			opacity: 1;
		}
	}
}

.bio-row {
	max-width: 522px;
	border-left: 5px solid #707070;
	padding: 0px 20px;
	margin: 40px 0;
	p:first-child {
		margin-top: 0px;
	}
	p:last-child {
		margin-bottom: 0px;
	}

}

.panels-row {
	width: 100%;
	display: flex;
	flex: 1;

	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	@media screen and (min-width: $break-desktop) {
		margin-top: 20px;

		flex-direction: row;
		justify-content: space-between;
		align-items: center;
    }
}